@mixin absoluteCenter($direction) {
    @if( $direction == "left"){
        left:50%;
        position: absolute;
        transform: translateX(-50%);
    }
    @if( $direction == "top"){
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }
    @if( $direction == "both"){
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin minWidth($breakpoint) {
    @media screen and (min-width:$breakpoint){
        @content
    }
}

